@font-face {
  font-family: "Gotham medium", sans-serif;
  src: url("../fonts/gotham-medium-webfont.woff"),
    url("../fonts/gotham-medium-webfont.woff2");
}
@font-face {
  font-family: "Gotham book", sans-serif;
  src: url("../fonts/GothamBook.eot"), url("../fonts/GothamBook.ttf"),
    url("../fonts/GothamBook.woff");
}
@font-face {
  font-family: "Gotham bold", sans-serif;
  src: url("../fonts/gothambold1.eot"), url("../fonts/gothambold1.ttf"),
    url("../fonts/gothambold1.woff");
}
@font-face {
  font-family: "Opensans regular", sans-serif;
  src: url("../fonts/OpenSans-Regular.ttf"),
    url("../fonts/opensans-regular-webfont.woff"),
    url("../fonts/opensans-regular-webfont.woff2");
}
