@mixin txt-style($font-fam, $font-size, $color) {
  font-family: $font-fam;
  font-size: $font-size;
  color: $color;
}
@mixin adaptive-font($min, $max, $a) {
  font-size: calc(
    #{$min} + (#{$max} - #{$a}) * ((#{$vw} - #{$mobScreen}) / (1550 - 320))
  );
}

$maxWidth: 1574;
@mixin adaptiv-css($cssRule, $pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  #{$cssRule}: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}
