@import "vars";
@import "fonts";
@import "extends";
@import "mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  outline: none;
}
ul,
li {
  list-style: none;
}

.main-section {
  height: 100vh;
  position: relative;
  &__arrow {
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    @media screen and(max-width: 1200px) and(orientation: landscape) {
      bottom: 18px;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      transform: rotateZ(-45deg);
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      top: 50%;
      margin-top: -5px;
      left: 15px;
      z-index: 3;
      transition: transform 0.4s;
    }
    &:hover {
      background-color: rgba(239, 244, 248, 0.3);
    }
  }
  .header {
    &__social-block {
      @media screen and (max-width: 925px) {
        display: none;
      }
    }
  }
}
.header {
  @extend %dinamic-paddings;
  @extend %flex-between-center;
  @include adaptiv-css("height", 150, 95);
  width: 100%;
  // height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  &__logo {
    & img {
      @include adaptiv-css("width", 241, 150);
    }
  }
}

.nav {
  width: 55%;
  @media screen and (max-width: 1020px) {
    width: 48%;
  }
  @media screen and (max-width: 925px) {
    opacity: 0;
    visibility: hidden;
    padding: 27px;
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
  }
  &__list {
    @extend %flex-between;
    list-style-type: none;
    @media screen and (max-width: 925px) {
      flex-direction: column;
    }
  }
  .mobile &__list {
    flex-direction: column;
  }
  &__item {
    @include txt-style($nav-font-fam, $nav-font-size, #fff);
    text-transform: uppercase;
    @media screen and (max-width: 925px) {
      text-align: center;
      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
    &:hover .nav__link::before {
      background-color: #fff;
    }
  }
  &__link {
    transition: all 0.3s;
    @media screen and (max-width: 925px) {
      &:hover {
        color: $lighter-main-bg-clr;
      }
    }
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 1px solid #fff;
      display: inline-block;
      border-radius: 50%;
      margin-right: 10px;
      transition: background-color 0.4s;
      @media screen and (max-width: 925px) {
        display: none;
      }
    }
  }
  &.mobile {
    transition: all 0.3s;
    opacity: 1;
    visibility: visible;
    top: 0;
    background-color: rgba(26, 34, 41, 0.8);
  }
}

.burger-btn {
  width: 40px;
  height: 26px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
  .first-bar,
  .second-bar,
  .third-bar {
    width: 35px;
    height: 2px;
    position: absolute;
    background-color: #fff;
    display: none;
    border-radius: 5px;
    transition: all 0.4s;
    transform: translateZ(0);
    @media screen and (max-width: 925px) {
      display: block;
    }
  }
  .first-bar {
    top: 0;
  }
  .second-bar {
    top: 50%;
    transform: translateY(-1px);
  }
  .third-bar {
    top: 100%;
  }
  &.checked .first-bar {
    transform: rotateZ(45deg);
    top: 10px;
  }
  &.checked .second-bar {
    display: none;
  }
  &.checked .third-bar {
    transform: rotateZ(-45deg);
    top: 10px;
  }
}

.social-block {
  @extend %flex-between;
  width: 160px;
  &__link {
    text-decoration: none;
  }
  &__icon {
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    fill: #fff;
    width: 40px;
    height: 40px;
    overflow: visible;
    transition: all 0.2s;
    &:hover {
      fill: $deep-main-bg-clr;
      border-color: $deep-main-bg-clr;
      background-color: #fff;
    }
  }
}
.slider {
  width: 100%;
  height: 100%;
  position: relative;
  &__item {
    @extend %flex-col-full-center;
    width: 100%;
    height: 100vh;
    &_theme_main {
      background-image: url("../img/main.png"),
        linear-gradient(to right top, #55b6fe, #7c5bf9);
      @extend %background-config;
    }
    &_theme_city {
      background-image: linear-gradient(
          to right bottom,
          rgba(89, 62, 199, 0.9),
          rgba(7, 142, 245, 0.9)
        ),
        url("../img/main-bg-1.jpg");
      @extend %background-config;
    }
    &_theme_beijin {
      background-image: linear-gradient(
          to right top,
          rgba(7, 142, 245, 0.9),
          rgba(89, 62, 199, 0.9)
        ),
        url("../img/main-bg-2.jpg");
      @extend %background-config;
    }
    &_theme_triangle {
      background-image: linear-gradient(
          to right top,
          rgba(7, 142, 245, 0.9),
          rgba(89, 62, 199, 0.9)
        ),
        url("../img/main-bg-3.jpg");
      @extend %background-config;
    }
    &_theme_skyscrapper {
      background-image: linear-gradient(
          to right top,
          rgba(7, 142, 245, 0.9),
          rgba(89, 62, 199, 0.9)
        ),
        url("../img/main-bg-4.jpg");
      @extend %background-config;
    }
  }
  .slick-dots {
    height: 205px;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    @media screen and(max-width: 670px) {
      flex-direction: row;
      left: 50%;
      transform: translateX(-50%);
      bottom: 25%;
      top: unset;
      height: 10px;
      width: 205px;
    }
  }
}

.slick-dots {
  @extend %flex-col-between;
  position: absolute;
  font-size: 0;
  .slick-active > button {
    background-color: #fff;
  }
  button {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 0;
    background-color: transparent;
    transition: background-color 0.4s;
    cursor: pointer;
  }
}
.main-title {
  @include txt-style($main-title-font-fam, $main-title-font-size, #fff);
  @include adaptive-font(40px, 80, 40);
  @extend %title-style;
  @media screen and(max-width: 550px) {
    width: 85%;
  }
}
.main-subtitle {
  @include txt-style($subtitle-font-fam, $subtitle-font-size, #fff);
  @include adaptive-font(16px, 18, 16);
  @extend %title-style;
  letter-spacing: 3px;
  @media screen and(max-width: 550px) {
    width: 85%;
  }
}

// Projects section
.projects {
  @extend %dinamic-paddings;
  @include adaptiv-css("padding-bottom", 140, 30);
  @include adaptiv-css("padding-top", 135, 30);
  // padding-top: 10%;
  // padding-bottom: 10%;
  overflow: hidden;
  &__title {
    @include txt-style(
      $whatwedo-title-font-fam,
      $section-title-font-size,
      $dark-text-clr
    );
    @include adaptive-font(20px, 44, 20);
    @extend %title-style;
    @extend %title-above-score;
    margin-bottom: 10%;
    @media screen and (max-width: 1020px) {
      margin-bottom: 14%;
    }
  }
}
.project-block {
  @extend %flex-between;
  @media screen and (max-width: 1020px) {
    flex-direction: column;
    align-items: center;
  }
  &:last-of-type {
    @media screen and (max-width: 1020px) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  &:not(:last-of-type) {
    margin-bottom: 15%;
  }
  &__info {
    @extend %flex-col-full-center;
    padding-left: 5%;
    align-items: flex-start;
    flex-basis: 45%;
    @media screen and (max-width: 1020px) {
      width: 630px;
      padding-left: 0;
    }
    @media screen and (max-width: 670px) {
      width: 100%;
    }
  }
  &__info_lefthand {
    padding-left: 0;
  }
  &__img {
    position: relative;
    @media screen and (max-width: 1020px) {
      margin-bottom: 20px;
    }
    img {
      max-width: 100%;
    }
    &::before {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: -70px;
      left: -100%;
      right: 40%;
      z-index: -1;
      background: $lighter-main-bg-clr;
      @media screen and (max-width: 580px) {
        top: -35px;
      }
      @media screen and (max-width: 500px) {
        top: -20px;
      }
    }
  }
  &__img_righthand::before {
    left: 40%;
    right: -100%;
    background: $deep-main-bg-clr;
  }
  &__subtitle {
    @include txt-style($subtitle-font-fam, $subtitle-font-size, $dark-text-clr);
    @extend %title-style;
    margin-bottom: 10px;
  }
  &__title {
    @include txt-style(
      $section-title-font-fam,
      $section-title-font-size,
      $dark-text-clr
    );
    @include adaptive-font(20px, 44, 20);
    @extend %title-style;
    text-align: unset;
    margin-bottom: 30px;
  }
  &__txt {
    @include txt-style(
      $article-txt-font-fam,
      $article-txt-font-size,
      $dark-text-clr
    );
    @include adaptiv-css("font-size", 18, 14);
    line-height: 1.6;
    margin-bottom: 30px;
  }
  &__btn {
    @extend %btn;
    margin-bottom: 50px;
  }
  &__location {
    @include txt-style(
      $article-txt-font-fam,
      $article-txt-font-size,
      $dark-text-clr
    );
    @include adaptiv-css("font-size", 18, 14);
    font-style: italic;
  }
  &__icon {
    width: 15px;
    height: 15px;
  }
}

// News section

.news {
  background-image: url("../img/news-bg.png"),
    linear-gradient(to right top, $deep-news-bg-clr, $lighter-news-bg-clr);
  @extend %background-config;
  @extend %dinamic-paddings;
  @include adaptiv-css("padding-top", 135, 30);
  @include adaptiv-css("padding-bottom", 140, 70);
  @media screen and(max-width: 1020px) {
    padding-bottom: 12%;
  }
  @media screen and(max-width: 800px) {
    padding-bottom: 14%;
  }
  @media screen and(max-width: 670px) {
    padding-bottom: 16%;
  }
  @media screen and(max-width: 420px) {
    padding-bottom: 20%;
  }
  &__title {
    @include txt-style($section-title-font-fam, $section-title-font-size, #fff);
    @include adaptive-font(20px, 44, 20);
    @extend %title-style;
    @extend %title-above-score;
    margin-bottom: 5%;
    &::before {
      background-color: #fff;
    }
  }
}

.news__slider {
  position: relative;
  .slick-dots {
    width: 206px;
    height: 10px;
    flex-direction: row;
    right: 50%;
    top: 110%;
    transform: translateX(50%);
    @media screen and(max-width: 670px) {
      bottom: -9%;
      top: unset;
      width: 150px;
    }
  }
  .slick-arrow {
    font-size: 0;
    outline: none;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    z-index: 2;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: rgba(239, 244, 248, 0.3);
    }
  }
  .slick-prev {
    left: -4%;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      transform: rotateZ(45deg);
      border-left: 2px solid #fff;
      border-bottom: 2px solid #fff;
      top: 50%;
      margin-top: -5px;
      left: 15px;
      z-index: 3;
      transition: transform 0.4s;
    }
    @media screen and (max-width: 880px) {
      transform: scale(0.5);
      left: -14px;
    }
  }
  .slick-next {
    right: -4%;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      transform: rotateZ(-45deg);
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      top: 50%;
      margin-top: -5px;
      right: 15px;
      z-index: 3;
    }
    @media screen and (max-width: 880px) {
      transform: scale(0.5);
      right: -14px;
    }
  }
}
.news-article {
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  img {
    transition: all 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
  &__wrapper {
    background: #fff;
    padding: 20px 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 670px) {
      padding: 30px 40px;
    }
    @media screen and (max-width: 420px) {
      padding: 20px 10px;
    }
  }
  &__title {
    @include txt-style($whatwedo-title-font-fam, 20px, $dark-text-clr);
    @include adaptiv-css("font-size", 20, 16);
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__txt {
    @include txt-style(
      $article-txt-font-fam,
      $article-txt-font-size,
      $dark-text-clr
    );
    @include adaptiv-css("font-size", 18, 14);
    line-height: 1.6;
    margin-bottom: 20px;
  }
}
.author-block {
  display: flex;
  align-items: center;
  margin-top: auto;
  & img {
    margin-right: 15px;
    @include adaptiv-css("width", 40, 30);
    @include adaptiv-css("height", 40, 30);
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__name {
    @include txt-style($subtitle-font-fam, $subtitle-font-size, $dark-text-clr);
    @include adaptiv-css("font-size", 18, 14);
    text-transform: uppercase;
  }
  &__date {
    @include txt-style($subtitle-font-fam, 14px, $lighter-news-bg-clr);
  }
}

//Gallery section

.gallery {
  @extend %dinamic-paddings;
  @include adaptiv-css("padding-top", 135, 30);
  @include adaptiv-css("padding-bottom", 140, 35);
  &__title {
    @include txt-style(
      $section-title-font-fam,
      $section-title-font-size,
      $dark-text-clr
    );
    @include adaptive-font(20px, 44, 20);
    @extend %title-style;
    @extend %title-above-score;
    margin-bottom: 7%;
  }
  &__content {
    @extend %flex-between;
    margin-bottom: 5%;
    @media screen and(max-width: 580px) {
      flex-direction: column;
    }
  }
  &__big-img {
    flex-basis: 49.5%;
    transition: all 0.4s;
    position: relative;
    @media screen and(max-width: 580px) {
      margin-bottom: 5px;
    }
    img {
      max-width: 100%;
      width: 100%;
    }
    &::before {
      content: url("../img/360.png");
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 50%;
      margin-left: -40px;
    }
  }
  &__wrapper-img {
    @extend %flex-between;
    align-content: space-between;
    flex-basis: 49.5%;
    flex-wrap: wrap;
  }
  &__img {
    flex-basis: 49%;
    transition: all 0.4s;
    @media screen and(max-width: 580px) {
      margin-bottom: 5px;
    }
    img {
      max-width: 100%;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &__btn {
    @extend %btn;
    display: block;
    margin: 0 auto;
  }
}

//Map
.map {
  width: 100%;
  height: 100vh;
}

// Footer

.footer {
  @extend %flex-col-full-center;
  @extend %background-config;
  position: relative;
  background-image: url("../img/footer-bg.png"),
    linear-gradient(to right top, $lighter-main-bg-clr, $deep-main-bg-clr);
  @include adaptiv-css("padding-top", 195, 30);
  @include adaptiv-css("padding-bottom", 205, 30);
  padding-left: calc(50vw - 385px);
  padding-right: calc(50vw - 385px);
  @media screen and(max-width: 810px) {
    padding-left: calc(50vw - 300px);
    padding-right: calc(50vw - 300px);
  }
  @media screen and(max-width: 625px) {
    padding-left: calc(50vw - 250px);
    padding-right: calc(50vw - 250px);
  }

  .header {
    padding: 0;
    position: static;
    height: auto;
    @include adaptiv-css("margin-bottom", 35, 10);
    // margin-bottom: 35px;
    @media screen and(max-width: 510px) {
      flex-direction: column;
      justify-content: center;
    }
    &__logo {
      @media screen and(max-width: 510px) {
        margin-bottom: 10px;
      }
    }
    .social-block {
      @include adaptiv-css("width", 160, 115);
      &__icon {
        @include adaptiv-css("width", 40, 30);
        @include adaptiv-css("height", 40, 30);
      }
    }
  }
  &__copy-block {
    align-self: flex-start;
    @include txt-style($nav-font-fam, $nav-font-size, #fff);
    @include adaptiv-css("font-size", 14, 12);
    @media screen and(max-width: 510px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__copy {
    margin-right: 10px;
    @media screen and(max-width: 510px) {
      margin: 0;
      margin-bottom: 5px;
    }
  }
  &__who-made {
    border-left: 1px solid #fff;
    padding: 0 0 0 12px;
    @media screen and(max-width: 510px) {
      border: none;
      padding: 0;
    }
  }
}
.form-block {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -280px;
  display: flex;
  flex-direction: column;
  max-width: 770px;
  width: 100%;
  background-image: url("../img/modal-bg.png");
  background-color: #fff;
  @extend %background-config;
  padding: 5% 4% 5% 4%;
  @media screen and(max-width: 902px) {
    width: 70%;
    top: -230px;
  }
  @media screen and(max-width: 770px) {
    top: -310px;
  }
  @media screen and(max-width: 510px) {
    top: -290px;
  }
  &__title {
    @include txt-style(
      $section-title-font-fam,
      $section-title-font-size,
      $dark-text-clr
    );
    @include adaptive-font(20px, 44, 20);
    @extend %title-style;
    @extend %title-above-score;
    margin-bottom: 7%;
    @media screen and (max-width: 902px) {
      &::before {
        top: -10px;
      }
    }
    @media screen and(max-width: 440px) {
      &::before {
        display: none;
      }
    }
  }
  &__wrapper {
    @extend %flex-between;
    @media screen and(max-width: 770px) {
      flex-direction: column;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    input {
      display: block;
      width: 100%;
      @include txt-style($nav-font-fam, $nav-font-size, $dark-text-clr);
      border: none;
      border-bottom: 1px solid #d5d9de;
      padding-bottom: 15px;
      margin-bottom: 20px;
      &::placeholder {
        @include txt-style($nav-font-fam, $nav-font-size, #d5d9de);
      }
      &:focus {
        border-bottom: 1px solid $dark-text-clr;
      }
      @media screen and(max-width: 770px) {
        padding-bottom: 8px;
        margin-bottom: 13px;
      }
    }
  }
  &__btn {
    @extend %btn;
    margin-left: auto;
  }
}
.contacts {
  flex-grow: 1;
  &__list i {
    color: $deep-main-bg-clr;
    margin-right: 10px;
  }
  &__item {
    @include txt-style($nav-font-fam, $nav-font-size, $dark-text-clr);
    &:not(:last-of-type) {
      margin-bottom: 30px;
      @media screen and(max-width: 770px) {
        margin-bottom: 12px;
      }
    }
  }
  @media screen and(max-width: 770px) {
    margin-bottom: 10px;
  }
}
